.intro__list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 18px;
  max-width: 1000px;
  font-family:Inter, Arial, sans-serif;
  max-width: 690px;
}