.lead{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0 auto;
}

@media screen and (min-width: 1279px){
  .lead{
    padding: 56px 148px 0px;
  }
}
  
@media screen and (min-width: 1023px) and (max-width:1279px){
  .lead{
    padding: 56px 48px 0px;
  }
}
  
@media screen and (min-width: 767px) and (max-width: 1023px){
  .lead{
    padding: 56px 0px 0px;
  }
}
  
@media screen and (max-width: 767px){
  .lead{
    padding: 40px 0px 0px;
  }
}