.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 1184px;
  margin: 0 auto;
}

@media screen and (min-width: 767px){
  .header{
    padding: 28px 24px 0px;
  }
}

@media screen and (max-width: 767px){
  .header{
    padding: 16px 16px 0px;
  }
}

