.lead__title{
  font-style: normal;
  font-weight: 900;
  color: #FFFFFF;
  text-align: center;
  font-family:Inter, Arial, sans-serif;
}

@media screen and (min-width: 767px){
  .lead__title{
    padding: 0;
    margin:0;
    max-width: 720px;
    font-size: 96px;
    line-height: 100px;
  }
}
  
@media screen and (max-width: 767px){
  .lead__title{
    padding: 0;
    margin:0;
    max-width: 288px;
    max-height: 88px;
    font-size: 40px;
    line-height: 44px;
  }
}