.footer__links{
  font-family:Inter, Arial, sans-serif;
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
  
@media screen and (min-width: 767px){
  .footer__links{
    grid-template-columns: repeat(5, auto);
    gap: 0px 18px;
  }
}
  
@media screen and (max-width: 767px){
  .footer__links{
    grid-template-columns: repeat(auto);
    gap: 32px 0px;
  }
}