.place__paragraph{
  margin:0px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 25px;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
}
  
@media screen and (max-width: 767px){
  .place__paragraph{
    padding-left: 16px;
  }
} 