.place__paragraph{
  margin:0px;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 25px;
  color: #FFFFFF;
  font-family:Inter, Arial, sans-serif;
}
 
@media screen and (min-width: 1023px){
  .place__paragraph{
    font-size: 18px;
    line-height: 163%;
  }
}
  
@media screen and (max-width: 1023px){
  .place__paragraph{
    font-size: 16px;
    line-height: 163%;
  }
}

@media screen and (max-width: 767px){
  .place__paragraph{
    padding-right: 16px;
    padding-left: 16px;
  }
}