.intro__text{
  margin: 0;
  padding-bottom: 33px;
  max-width: 690px;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 163%;
  font-family:Inter, Arial, sans-serif;

}