.intro{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  text-align: left;
  max-width: 984px;
}
 
@media screen and (min-width: 1279px){
  .intro{
    width: 100%;
    padding-top: 92px;
    padding-bottom: 0px;
  }
}
  
@media screen and (min-width: 1023px) and (max-width:1279px){
  .intro{
    padding-left: 48px;
    padding-right: 286px;
    padding-top: 92px;
    padding-bottom: 0px;
  }
}
  
@media screen and (min-width: 767px) and (max-width: 1023px){
  .intro{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 88px;
    padding-bottom: 0px;
  }
}
  
@media screen and (max-width: 767px){
  .intro{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 64px;
    padding-bottom: 0px;
  }
}