.lead__subtitle{
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  font-family:Inter, Arial, sans-serif;
}

@media screen and (min-width: 767px){
  .lead__subtitle{
    padding: 32px 0px 56px;
    margin:0;
    max-width: 640px;
    font-size: 30px;
    line-height: 36px;
  }
}
  
@media screen and (max-width: 767px){
  .lead__subtitle{
    padding: 16px 0px 40px;
    margin:0;
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
}