.lead__caption{
  width: 158px;
  height: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #FFFFFF;
  padding-top: 8px;
  margin: 0px;
  align-self: start;
}

@media screen and (min-width: 767px) and (max-width: 1023px){
  .lead__caption{
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px){
  .lead__caption{
    padding-left: 16px;
  }
}