.place__website{
  font-family:Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  padding-top: 12px;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
} 

.place__website:hover,
.place__website:active{
  opacity: 0.8;
  transition: 1s;
}