.intro__title{
  padding-bottom: 40px;
  max-width: 690px;
  font-style: normal;
  font-weight: 900;
  color: #FFFFFF;
  margin: 0;
  font-family:Inter, Arial, sans-serif;
}
  
@media screen and (min-width: 767px){
  .intro__title{
    font-size: 54px;
    line-height: 58px;
  }
}
  
@media screen and (max-width: 767px){
  .intro__title{
    font-size: 32px;
    line-height: 35px;
  }
}