.intro__title{
  padding-bottom: 40px;
  max-width: 720px;
  max-height: 70px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (min-width: 1279px){
  .intro__title{
    font-size: 54px;
    line-height: 58px;
  }
}
  
@media screen and (min-width: 1023px) and (max-width:1279px){
  .intro__title{
    font-size: 54px;
    line-height: 58px;
  }
}
  
@media screen and (min-width: 767px) and (max-width: 1023px){
  .intro__title{
    font-size: 54px;
    line-height: 58px;
  }
}
  
@media screen and (max-width: 767px){
  .intro__title{
    font-size: 32px;
    line-height: 35px;
  }
}